
.categories{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}
.business > input[type=checkbox] {
 width:20px;
 height: 20px;
 border:2px solid red;
 

}
.personal > input[type=checkbox]{
    width:20px;
    height:20px;
    
    
}
